# Namespace for lsmeans package

import(methods)
import(emmeans)

export(
    ref.grid, lsm.basis, recover.data
)

exportClasses(ref.grid, lsmobj)

# To nurse along StroupGLMM:
export(contrast, lsmeans)

